* {box-sizing: border-box;}
img {display: block;
   margin: 10px;
}
div {display: block;
   padding: 10px;
   float: left;
}
div.speler {width: 100%;}
div a:hover {background-color: yellow;}
body {background-color: rgb(239,238,244);
      font-family: serif;
      font-size: 1em;
}
a img {float: left;}
@media only screen and (min-width: 400px) {
.c1 {width: 100%;}
}
@media only screen and (min-width: 800px) {
.c2 {width: 50%;}
}
@media only screen and (min-width: 1200px) {
.c3 {width: 33.33%;}
}
@media only screen and (min-width: 1600px) {
.c4 {width: 25%;}
}
.keuzelijst .c1:hover {background-color: yellow;}
.keuzelijst .c2:hover {background-color: yellow;}
.keuzelijst .c3:hover {background-color: yellow;}
.keuzelijst .c4:hover {background-color: yellow;}
.keuzelijst div {height: 150px;}
.beschrijving {font-weight: bold;}
div.titel {width: 100%;
   background-image: linear-gradient(rgb(219,218,224), rgb(239,238,244));
   }
div.scheiding {width: 100%;
   height: 10px;
   background-image: linear-gradient(rgb(239,238,244), rgb(229,228,234), rgb(239,238,244));}
.titel h1 {margin: 0px;}