* {box-sizing: border-box;}
@font-face {
  font-family: logofont;
  src: url(font/Tiffany_Regular.ttf);
 }
h1,h2,h3,h4,h5,h6 {
	font-family: 'logofont',cursive,serif;
}  
img {display: block;
   margin: 10px;
   height: auto;
   width: auto;
}

div {display: block;
   padding: 10px;
   float: left;
}

div a:hover {background-color: yellow;}
body {background-color: rgb(239,238,244);
      font-family: serif;
      font-size: 100%;
}

a img {float: left;
	max-height: 150px;
	}
	
@media only screen and (min-width: 400px) {
.c1 {width: 100%;}
}

@media only screen and (min-width: 800px) {
.c2 {width: 49%;}
}

@media only screen and (min-width: 1200px) {
.c3 {width: 33%;}
}

@media only screen and (min-width: 1600px) {
.c4 {width: 24%;}
}

.keuzelijst .c1:hover {background-color: yellow;}
.keuzelijst .c2:hover {background-color: yellow;}
.keuzelijst .c3:hover {background-color: yellow;}
.keuzelijst .c4:hover {background-color: yellow;}
.keuzelijst div {height: 200px;
	background-color: lightyellow;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	overflow: auto;
	margin: 1px;
	}
.beschrijving {font-weight: bold;}
div.titel {width: 100%;
   background-image: linear-gradient(rgb(219,218,224), rgb(239,238,244));
   }
div.scheiding {width: 100%;
   height: 10px;
   background-image: linear-gradient(rgb(239,238,244), rgb(229,228,234), rgb(239,238,244));
   }
div.detailweergave {width: 100%;}
.titel h1 {margin: 0px;}
a.naam {text-align: center;
	display: inline-block;
	height: 100%;
	width: 100%;
	text-decoration: none;
	}
a.naam span {font-size: 1.5em;}

img.fotogroot {float: left;
	max-width: 100%;}