* {box-sizing: border-box;}
body {background-color: white;
      font-family: serif;
      font-size: 100%;}
      
img.groot {display: block;
   margin-left: auto;
   margin-right: auto;
   max-height: 25%;
	max-width: 50%;}
	
fieldset {background-color: rgb(239,238,244);}

legend {font-size: 125%;}

img.logo {margin: 5px;
   width: 15%;}
   
@media (max-width:400px){fieldset,body{margin-left: 0px;margin-right: 0px;padding-left: 0px;padding-right: 0px;border-left-width: 0px;border-right-width: 0px;}}

.invoer_t {width: 90%;
	margin-left: auto;
	margin-right: auto;}
	
.vet {font-weight: bold;}

div.ingevuld { background-color: lightyellow;
	margin: 1%;
	border-color: yellow;
	border-style: ridge;
	border-width: 10px;}
	
h1.beheer {background-image: url("../afbeeldingen/Bosvreugdlogo_transparant.png");
	background-size: contain;
	text-align: center;
	text-shadow: 0px 0px 5px yellow;}