* {box-sizing: border-box;}
body {background-color: white;
      font-family: serif;
      font-size: 100%;}
img.groot {display: block;
   margin-left: auto;
   margin-right: auto;
   max-height: 200px;
	max-width: 90%;}
ul.bestelmogelijkheden li {list-style-type: none;}
fieldset {background-color: rgb(239,238,244);}
legend {font-size: 125%;}
img.logo {margin: 5px;
   width: 15%;}
tr.donker {background-color:rgb(229,228,234);}
tr.licht {background-color: rgb(249,248,254);}
output {display: none;}
table {width: 100%;}
.k1 {text-align: right;}
.k2 {text-align: left;}
.k3 {text-align: center;}
.k4 {font-weight: bold;
     text-align: right;}
tfoot td {border-top: 2px solid black;}
@media (max-width:400px){fieldset,body{margin-left: 0px;margin-right: 0px;padding-left: 0px;padding-right: 0px;border-left-width: 0px;border-right-width: 0px;}}

.beheermenu {
	text-align: center;
}
.beheermenu input {
	margin-left: 5px;
	margin-right: 5px;
}
.codelijst {list-style-type: decimal;}
input,select {font-size: 1em;}
hr {
	height: 5px;
	color: lightgray;
	background-color: lightgray;
}
div.aanbieder {
	display: block;
   padding: 10px;
   float: left;
   height: 400px;
}
@media only screen and (min-width: 400px) {
.c1 {width: 100%;}
}
@media only screen and (min-width: 800px) {
.c2 {width: 50%;}
}
@media only screen and (min-width: 1200px) {
.c3 {width: 33.33%;}
}
@media only screen and (min-width: 1600px) {
.c4 {width: 25%;}
}